$primary-color: #596e79;
// $primary-color: #506e7e;
// $primary-color: #3b5b6b;
$secondary-color-light: #f2ebe4;
$secondary-color-dark: #c7b198;

// Pour une meilleur lisibilité des textes en LIGHT sur fond blanc 
$secondary-color-more-dark: #b59474;
// $secondary-color-more-dark: #af7d4b;

