@use 'reset';
@use 'vars';

body {
}

@font-face {
  font-family: 'Lora-Regular';
  src: url('../assets/fonts/Lora-Regular.ttf');
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../assets/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('../assets/fonts/SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('../assets/fonts/SourceSansPro-SemiBold.ttf');
}

@font-face {
  font-family: 'SourceSansPro-SemiBoldItalic';
  src: url('../assets/fonts/SourceSansPro-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('../assets/fonts/SourceSansPro-Light.ttf');
}

@font-face {
  font-family: 'SourceSansPro-LightItalic';
  src: url('../assets/fonts/SourceSansPro-LightItalic.ttf');
}


/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
*/
