@use 'src/styles/vars';

@keyframes animBurger {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  };
  100% {
    transform: translateY(0vh);
    opacity: 1;
  };
};

@keyframes animBurgerdesktop {
  0% {
    transform: translateY(0vh);
    opacity: 1;
  };
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  };
};

// burger animation
.burger {
  display:none; 
  width: 30px;
  height: 24px;
  cursor: pointer;
  position: fixed;
  right: 1.5em;
  z-index: 98;
};

.burger span {
  display :block;
  width: 100%;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
  transition: background-color 0.5s ease-in-out;
};

.burger span::before, .burger span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
};

.burger span::before {
  transform: translateY(-10px);
};

.burger span::after {
  transform: translateY(10px);
};


.burger.active span {
  background-color: transparent;
};

.burger.active span::before {
  transform: translateY(0px) rotate(45deg);
  
};

.burger.active span::after {
  transform: translateY(0px) rotate(-45deg);
};

// nav 

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  background-color: vars.$primary-color;
};

.navlink {
  &__mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: vars.$primary-color;
    animation: animBurger 2s;
  };
  &__desktop {
    display: none;
  };
  &__one {
    font-family: 'SourceSansPro-SemiBold';
    text-transform: uppercase;
    color: white;
    &--active {
      color: vars.$secondary-color-light;
    };
  };
};

.logoMimado {
  width: 225px;
}
@media screen and (max-width:1200px) {
  .burger {
    display:block; 
  };
};

@media screen and (min-width:1200px) {
  .navlink {
    &__mobile {
      display: none
    };
    &__desktop {
      display: flex;
      justify-content: flex-end;
      background-color: vars.$primary-color;
    };
    &__one {
      font-family: 'SourceSansPro-SemiBold';
      text-transform: uppercase;
      color: white;
      margin: 0 1.5em 0 1.5em;
      &--active {
        color: vars.$secondary-color-light;
      };
    };
  };
  li:last-child {
    margin-right: 0;
  };
  .burger {
    display:none; 
  };
};
