@use 'src/styles/vars';

span {
  font-family: 'SourceSansPro-SemiBoldItalic';
}

.restauration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
  .maskLeafBananier {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -5;
    .leafBananier {
      position: absolute;
      width: 30rem;
      top: -90px;
      right: -60px;
      z-index: -1;
    }
  }
  .blocBananier {
    display: none;
  }
  .titleRestauration {
    font-family: 'Lora-Regular';
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    color: vars.$secondary-color-more-dark;
    margin: 3em 0;
  }
  .firstBloc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; // a changer sur grand écran
    .containerSlide {
      width: 100%; // a changer sur grand écran
      .each-slide {
        display: flex;
        justify-content: center;
        overflow: hidden;
        .slideImage{
          height: 550px;
        }
      }
    }
    .paragraphFirstBloc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2.5em 1.5em;
      .firstTextBloc {
        font-family: 'SourceSansPro-Bold';
        font-size: 1.5rem;
        color: vars.$secondary-color-dark;
        margin-bottom: 1em;
      }
      .secondTextBloc {
        font-family: 'SourceSansPro-LightItalic';
        font-size: 1.25rem;
        color: vars.$secondary-color-more-dark;
        margin-bottom: 1em;
      }
      .lastTextBloc {
        font-family: 'SourceSansPro-Light';
        font-size: 1.1rem;
        color: vars.$primary-color;
        margin-bottom: 2em;
      }
    }
  }
  .secondBloc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; // a changer sur grand écran
    .containerSlide {
      width: 100%; // a changer sur grand écran
      .each-slide {
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        .slideImage{
          height: 550px;
        }
      }
    }
    .paragraphSecondBloc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2.5em 1.5em;
      text-align: right;
      .firstTextBloc {
        font-family: 'SourceSansPro-Bold';
        font-size: 1.5rem;
        color: vars.$secondary-color-dark;
        margin-bottom: 1em;
      }
      .secondTextBloc {
        font-family: 'SourceSansPro-LightItalic';
        font-size: 1.25rem;
        color: vars.$secondary-color-more-dark;
        margin-bottom: 1em;
      }
      .lastTextBloc {
        font-family: 'SourceSansPro-Light';
        font-size: 1.1rem;
        color: vars.$primary-color;
        margin-bottom: 2em;
      }
    }
  }
}

@media screen and (min-width:850px) {
  .restauration {
    align-items: center;
    .maskLeafBananier {
      .leafBananier {
        width: 40rem;
        top: -100px;
        right: -80px;
      }
    }
    .blocBananier {
      position: absolute;
      overflow: hidden;
      display: inline;
      width: 100%;
      height: 100%;
      z-index: -5;
      .Bananier {
        position: absolute;
        height: 60%;
        bottom: -50px;
        left: -200px;
        z-index: -1;
      }
    }
    .titleRestauration {
      font-family: 'Lora-Regular';
      text-transform: uppercase;
      font-size: 1.7rem;
      color: vars.$secondary-color-more-dark;
      margin-bottom: 1.5em;
      text-align: left;
      width: 80%;
    }
    .firstBloc{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 8em;
      width: 80%;
      .containerSlide {
        max-width:50%;
      }
      .paragraphFirstBloc {
        padding: 0 1.5em;
      }
    }
    .secondBloc{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      margin-bottom: 8em;
      width: 80%;
      .containerSlide {
        max-width:50%;
      }
      .paragraphSecondBloc {
        padding: 0 1.5em;
      }
    }
  }
}
